.bd{padding-left:8%;padding-top:1%;}
.enq{font-size:35px;font-weight:700	;font-family: Arial}
.star{color: red}
.nametxtip{height:38px;width:450;border-radius:5px;}
.txtip{height:38px;width:220;border-radius:5px;}
form{float: left}

